.container{
    width: 100%;
    height: 200vh;
    background-color: rgba(39, 22, 80, 0.65);
    background-image: url("Coding.JPG");
    background-repeat: no-repeat;
    background-blend-mode: overlay;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
h2{
    color: white;
    text-align: center;
    font-family: 'Prompt', sans-serif;
}
.p1{
    color: white;
    text-align: center;
}
.div1{
    width: 45%;
    background-color: rgba(23, 16, 41, 0.9);
    margin: 0 auto;
}
.div2{
    width: 80%;
    color:white;
    font-family: 'Prompt', sans-serif;
    margin-left: 20px;
}
@media screen and (max-width:600px) {
    .div1{
        width: 95%;
    }
    .container{
        height: 170vh;
    }
    .p1, h2{
        width: 100%;
        align-items: center;
    }
    .div2{
        margin-right: 30px;
        width: 95%;
    }
}